# Authentik Configuration
AUTHENTIK_CLIENT_ID=your_client_id # Identifies your application to Authentik (to get during the authentik setup)
AUTHENTIK_CLIENT_SECRET=your_client_secret # Proves your application's identity to Authentik (to get during the authentik setup)
AUTHENTIK_PORT=9000 # Port on which Authentik server will listen
AUTHENTIK_HOST=authentik-server # Hostname for the Authentik service in the Docker network
AUTHENTIK_IMAGE=ghcr.io/goauthentik/server # Docker image repository for Authentik server
AUTHENTIK_TAG=2024.8.3 # Specific version tag of Authentik to use

# JWT Configuration
ACCESS_TOKEN_EXPIRE_MINUTES=30 # Expiration time for access tokens in minutes
SECRET_KEY=your_secret_key # Secret key for JWT token generation (can be generated with `openssl rand -hex 32`)

# Database Configuration
PG_PASS=your_secure_password # Password for PostgreSQL database used by Authentik (can be generated with `openssl rand -base64 32`)
DATABASE_URL=sqlite:///./app/database/mycelium.db # SQLite database connection string for the application

# Backend Service Configuration
BACKEND_PORT=8000 # Port on which the FastAPI backend service will listen
BACKEND_HOST=backend # Hostname for the backend service in the Docker network

# Frontend Service Configuration
FRONTEND_PORT=80 # Port on which the Vue.js frontend will be served
FRONTEND_HOST=frontend # Hostname for the frontend service in the Docker network
NGINX_LOG_LEVEL=error # Logging level for Nginx reverse proxy (debug, info, notice, warn, error, crit)